html{
	scroll-behavior: smooth;
}

body{
	background-image: url("backimg.png");
	}

h1{
	font-family: sans-serif;
	color: black;	
	text-align: center;
	text-transform: uppercase;
	text-shadow: 2px 2px red;

}
.cent{
     text-decoration-line: overline;
}


h3{
	color: black;	
	text-align: center;
	font-family: Lucida Handwriting;
	border-bottom: 2px dotted black;
	text-decoration-line: underline;

    
}
p{ color:black;
	padding: 25px;
	padding-left: 10%;
	padding-right: 10%;
	border-style: 2px dotted black;
  font-size: 20px;
   }
/*571*612*/
 
#new{
	
   border-top: 2px dotted black;
   border-bottom: 2px dotted black;
}

img{
   height: 371px;
   width: 412px;
   margin-top:15px;
margin-left: 30px;
margin-right:20px;
margin-bottom: 20px;
  
   
}

.asd{
border-bottom: 2px dotted black;
text-align: center;
}

h5{
border-style:solid;
border-color: black;
width: 250px;
height: 35px;
text-align: center;
font-size: 24px;

margin-right: auto;
margin-left: auto;

}

a:hover{
color: red;}

.tb{
border-top: 2px dotted black;}

table{
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: center	;
}
table,th,td,tr{
border: 2px solid black;

}

tr:hover{
background-color: red;}
